{% extends "../../body.html" %}
{% load util %}
{% block extrahead %}
    {% include "../tmpl/chart_head.html" %}
{% endblock %}
{% load bootstrap_tags %}
{% block content %}
    {% set_var db_dict|get_item:'list' as object_list %}
    {% set_var db_dict|get_item:'id' as selected %}
    {% set_var db_dict|get_item:'obj' as dashboard %}
    <h1>Configure Dashboard</h1>
    <br><hr><br>
    {% if status is not None and form_error is None %}
        <div class="alert alert-success">
            <strong>{{ status|title }} dashboard</strong>
        </div>
        <br><hr><br>
    {% endif %}
    {% include "../../error/form.html" %}
    {% if action != 'create' and object_list|length != 0 %}
        <form method="get">
            <label for="selected">Existing dashboard object
                <select class="form-control" id="selected" name="selected" >
                    {% if action == 'show' %}
                        <option value="---------">---------</option>
                    {% endif %}
                    {% for option in object_list %}
                        {% if option.id == selected %}
                            <option selected value="{{ option.id }}">{{ option }}</option>
                        {% else %}
                            <option value="{{ option.id }}">{{ option }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
            <br>
            <input type="hidden" name="do" value="{{ action }}" />
            {% include "../../btn/select.html" %}
        </form>
        <br><hr><br>
    {% elif action != 'create' %}
        <div class="alert alert-warning">
            <strong>No existing dashboard object found</strong>
        </div>
    {% endif %}
    {% if selected is None and action != 'create' %}
        {% if object_list|length != 0 %}
            <br>
            <div class="alert alert-info">
                <strong>Choose a chart object</strong>
            </div>
        {% endif %}
    {% elif action != 'create' %}
        {% include "./config/preview.html" %}
    {% endif %}
    {% if selected is not None or action == 'create' %}
        <h2>
            Options
        </h2>
        <form method="post">
            {{ db_dict|get_item:'form'|as_bootstrap }}
            {% include "../tmpl/chart_actions.html" %}
            <input type="hidden" name="selected" value="{{ selected }}">
            {% csrf_token %}
        </form>
        <br><hr>
    {% endif %}
    {% if selected is not None and action != 'create' %}
        {% include "./config/element.html" %}
    {% endif %}
    {% include "../tmpl/chartjs_info.html" %}
    <hr>
    {% include "../../btn/back.html" %}
    {% include "./js.html" %}
{% endblock %}
