<script>
    // chart preparations
    var ga_config = [,];
    {% for position_obj in used_positions %}
        ga_config.push({
            element: {{ position_obj.element.id }},
            position: {{ position_obj.id }}
        });
    {% endfor %}

    for (_config in ga_config) {
        let config = ga_config[_config];

        async function fetchData() {
            var url = `/api/chart/?type=dbe&id=${config['element']}`;
            const response = await fetch(url);
            const data = await response.json();
            return data;
        }

        fetchData().then(ga_dbe_config => {
            console.log('chart data received:');
            console.log(ga_dbe_config);

            let ga_element_chart = `ga_dbp_${config['position']}_chart`;
            let ga_element_warn = `ga_dbp_${config['position']}_warn`;
            let ga_element_error = `ga_dbp_${config['position']}_error`;

            {% include "../tmpl/js/dashboard.html" %}
        })
    }
</script>
