<VirtualHost *:{{ ga_web_port_http }}>
    ServerName {{ ga_web_dns }}
    {% if ga_web_alias|length > 0 %}
    ServerAlias {% for alias in ga_web_alias %} {{ alias }} {% endfor %}
    {% endif %}
    ServerAdmin webmaster@{{ ga_web_dns }}
    Redirect permanent / https://{{ ga_web_dns }}

    ErrorLog {{ ga_web_path_log }}/apache_error.log
    CustomLog {{ ga_web_path_log }}/apache_access.log combined
</VirtualHost>

<VirtualHost *:{{ ga_web_port_https }}>
    ServerName {{ ga_web_dns }}
    {% if ga_web_alias|length > 0 %}
    ServerAlias {% for alias in ga_web_alias %} {{ alias }} {% endfor %}
    {% endif %}
    ServerAdmin webmaster@{{ ga_web_dns }}
    DocumentRoot {{ ga_web_path }}

    ErrorLog {{ ga_web_path_log }}/apache_error.log
    CustomLog {{ ga_web_path_log }}/apache_access.log combined

    <IfModule mod_ssl.c>
        SSLEngine on
        SSLCertificateKeyFile {{ ga_ssl_path_key }}
        SSLCertificateFile {{ ga_ssl_path_cert }}
        SSLCertificateChainFile {{ ga_ssl_path_fullchain }}
        SetEnvIf User-Agent ".*MSIE.*" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0
    </IfModule>

    Alias /static {{ ga_web_path_static }}
    Alias /robots.txt {{ ga_web_path_static }}/robots.txt
    LoadModule wsgi_module /usr/lib/apache2/modules/mod_wsgi.so

    <Directory {{ ga_web_path }}/base>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>

    <Directory {{ ga_web_path }} >
        AllowOverride All
    </Directory>

    WSGIProcessGroup {{ ga_web_key }}
    WSGIDaemonProcess {{ ga_web_key }} python-home={{ ga_web_path_venv }} python-path={{ ga_web_path }}:{{ ga_core_path }}:{{ ga_web_path_venv }}/lib/python{{ ga_python_version }}/site-packages
    WSGIScriptAlias / {{ ga_web_path }}/base/wsgi.py process-group={{ ga_web_key }}

</VirtualHost>

ServerName {{ ga_web_dns }}
