[Unit]
Description=Growautomation Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/growautomation-at/service/ga-service.py
ExecStop=/bin/kill -2 $MAINPID
ExecReload=/usr/bin/python3 /etc/growautomation-at/service/ga-service.py reload
User=growautomation
Group=growautomation

[Install]
WantedBy=multi-user.target