# usage of 3th party resources

# python modules
#   core
      pycryptodome  # (Crypto)
      mysql.connector
      systemd

#   django
      virtualenv
      django
      django_mysql
      mysqlclient
      django-forms-bootstrap
      netaddr
      django-bootstrap4
      django-bootstrap-datepicker-plus
      django-user-agents

#   input devices (sensors)
      adafruit-circuitpython-dht
      adafruit-circuitpython-ads1x15
