{% extends "../../body.html" %}
{% load util %}
{% block content %}
    {% include "../../error/form.html" %}
    {% load bootstrap_tags %}

    {% set_var request|get_return_path as return_path %}
    <h3><strong>{{ script_type }} script</strong></h3>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="hidden" name="script_type" value="{{ script_type }}" />
        <div class="alert alert-warning">If the script already exists, it will be overwritten!</div>
        {% include "../../btn/upload.html" %}
        {% include "../../btn/abort.html" %}
    </form>
    <br><br>
    <div class="ga-sideinfo">
        <p>
            Current script directory: '{{ script_dir }}'
        </p>
    </div>
{% endblock %}
