{% extends "../../body.html" %}
{% load util %}
{% block content %}
    <form class="ga-form-inline" method="get" action="/system/script/">
        <label>Script type
            <select class="form-control" name="script_type" >
                {% if script_type is None %}
                    <option selected disabled hidden>{% get_empty %}</option>
                {% endif %}
                {% for option in script_type_options %}
                    {% if script_type == option %}
                        <option value="{{ option }}" selected>{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
        {% include "../../btn/select.html" %}
    </form>
    <br><br>
    {% if script_type is not None %}
        <strong>
            Refreshed at {% now "Y-m-d H:i:s T" %} <br>
        </strong>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Changed at
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                {% if script_dict|length == 0 %}
                    {% include "../../warn/table_no_results.html" %}
                {% else %}
                    {% for script_name, script_ts in script_dict.items %}
                        <tr>
                            <td>
                                {{ script_name }}
                            </td>
                            <td>
                                {{ script_ts }}
                            </td>
                            <td>
                                <form class="ga-form-inline" method="post" action="/system/script/delete/">
                                    {% csrf_token %}
                                    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                                    <input type="hidden" name="script_type" value="{{ script_type }}" />
                                    <input type="hidden" name="script_name" value="{{ script_name }}" />
                                    {% include "../../btn/delete.html" %}
                                </form>
                                <form class="ga-form-inline" method="get" action="/system/script/show/">
                                    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                                    <input type="hidden" name="script_type" value="{{ script_type }}" />
                                    <input type="hidden" name="script_name" value="{{ script_name }}" />
                                    {% include "../../btn/select.html" %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td colspan="100%">
                        <form class="ga-form-inline" method="get" action="/system/script/change/">
                            {% include "../../btn/upload.html" %}
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                            <input type="hidden" name="script_type" value="{{ script_type }}" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ga-sideinfo">
            <p>
                Current script directory: '{{ script_dir }}'
            </p>
        </div>
    {% else %}
        <div class="alert alert-info">Select a script type to see more</div>
    {% endif %}
{% endblock %}
