{% extends "../../body.html" %}
{% load util %}
{% block content %}
    <strong>
        Refreshed at {% now "Y-m-d H:i:s T" %} <br>
    </strong>
    <br>
    {% if script_content is None %}
        {% include "../../warn/no_results.html" %}
    {% else %}
        <ol class="ga-file-content">
            {% for line in script_content %}
<li class="ga-file-content-line">{{ line }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    <div class="ga-sideinfo">
        <p>
            Current script: '{{ script_path }}'
        </p>
    </div>
    <br><br>
    <a href="{{ request|get_return_path }}" class="btn btn-info">Return</a>
{% endblock %}
