{% extends "../body.html" %}
{% load util %}
{% block content %}
    {% include "../error/form.html" %}
    {% load bootstrap_tags %}

    {% if request.GET|has_key:'action' %}
        {% set_var request.GET|get_item:'action' as action %}
    {% else %}
        {% set_var request.POST|get_item:'action' as action %}
    {% endif %}

    {% set_var request|get_return_path:typ as return_path %}

    <form method="post">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="hidden" name="return" value="{{ return_path }}" />
        {% include "../btn/save.html" %}
        {% include "../btn/abort.html" %}
    </form>
{% endblock %}
