{% extends "../../../body.html" %}
{% load bootstrap_tags %}
{% block extrahead %}
    {% include "./head.html" %}
{% endblock %}
{% block content %}
    {% block title %}
    {% endblock %}
    <br><hr><br>
    {% include "../../../error/form.html" %}
    {% if action != 'create' and object_list|length != 0 %}
        <form method="get">
            <label for="selected">Existing chart object</label>
            <select class="form-control" id="selected" name="selected" >
                {% if action == 'show' %}
                    <option value="---------">---------</option>
                {% endif %}
                {% for option in object_list %}
                    {% if option.id == selected %}
                        <option selected value="{{ option.id }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option.id }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            <input type="hidden" name="do" value="{{ action }}" />
            <input type="submit" value="Select" class="btn btn-primary">
        </form>
        <br><hr><br>
    {% elif action != 'create' %}
        <div class="alert alert-info">
            <strong>No existing chart object found</strong>
        </div>
    {% endif %}
    {% if selected is None and action != 'create' %}
        <br>
        <div class="alert alert-info">
            <strong>Choose a chart object</strong>
        </div>
    {% else %}
        <h2>
            Preview:
        </h2>
        <div class="ga-chart ga-chart-main" id="ga_chart_div" align="center">
            <canvas id="ga_chart_canvas"></canvas>
        </div>
        <div id="ga_warn_noresult" style="display: none;">
            {% include "../../../warn/no_results.html" %}
        </div>
        {% if form_error is None and form.erros is None %}
            <div id="ga_error_noresult" class="alert alert-info" style="display: none;">Check chart options</div>
        {% else %}
            <div id="ga_error_noresult" style="display: none;">
                {% include "../../../error/no_results.html" %}
            </div>
        {% endif %}
        <form method="post">
            <br>
            <div align="center">
                {% include "./actions.html" %}
            </div>
            <br><hr><br>
            <h2>
                Options
            </h2>
            {% block options %}
            {% endblock %}
            {{ form|as_bootstrap }}
            <br>
            <input type="hidden" name="selected" value="{{ selected }}" />
            {% include "./actions.html" %}
            {% csrf_token %}
        </form>
        {% if action != 'create' %}
            {% block extraoptions %}
            {% endblock %}
        {% endif %}
        <br>
        <small>
            For detailed information look into the external documentation:
            <a href="https://www.chartjs.org/docs/latest/configuration/">chartjs</a> |
            <a href="https://momentjscom.readthedocs.io/en/latest/moment/04-displaying/01-format/">momentjs</a>
        </small>
        <!-- start chart javascript -->
        {% block js %}
        {% endblock %}
        <!-- stop chart javascript -->
    {% endif %}
    <hr>
    <a href="/data/chart/" class="btn btn-primary">Back to the Overview</a>
{% endblock %}
