[client]
host = {{ ga_sql_server }}
database = {{ ga_sql_db }}
user = {{ ga_sql_user_web }}
password = {{ ga_sql_pwd_web }}
default-character-set = utf8

{% if ga_sql_server != 'localhost' %}
port = {{ ga_sql_port }}

{% else %}
socket = {{ ga_sql_socket }}

{% endif %}
