#!/bin/bash
# django db schema update script

WEB_PATH='{{ ga_web_path }}'
VENV_PATH='{{ ga_web_path_venv }}'
CORE_PATH='{{ ga_core_path }}'

export DJANGO_SETTINGS_MODULE=base.settings
export PYTHONPATH=${WEB_PATH}:${CORE_PATH}:${VENV_PATH}/lib/python{{ ga_python_version }}/site-packages

cd ${WEB_PATH}
source ${VENV_PATH}/bin/activate
${VENV_PATH}/bin/python3 manage.py makemigrations && ${VENV_PATH}/bin/python3 manage.py migrate && sudo systemctl restart apache2.service
