{% load util %}
{% if filter_dict is None or filter_dict|length == 0 %}
<!-- skip filter-building if no filters are present -->
{% elif filter_dict|get_type != 'dict' %}
    <div class="alert alert-danger">
        <strong>Filter error: {{ filter_dict }}</strong>
    </div>
{% else %}
    <form style="display:inline" name="{{ value_dict|get_item:'obj' }}" method="post" >
        {% csrf_token %}
        {% for typ, value_dict in filter_dict.items %}
            {% set_var value_dict|get_item:'dataset' as dataset %}
            {% set_var value_dict|get_item:'pretty' as pretty_name %}
            {% if dataset|length > 1 %}
            <!-- skip filter if it has no or only one value to filter on -->
            {% else %}
                    <label for="id_{{ typ }}">Filter on {{ pretty_name }}</label>
                    <select class="form-control" id="id_{{ typ }}" name="filter" >
                        {% if active_filter is None or active_filter == '---------' or active_filter not in dataset %}
                            <option selected>---------</option>
                        {% endif %}
                        {% for instance in dataset %}
                            {% if active_filter is not None and instance|get_str == active_filter %}
                                <option selected value="{{ instance }}">{{ instance.name }}</option>
                            {% else %}
                                <option value="{{ instance }}">{{ instance.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="hidden" name="filter_typ" value="{{ typ }}" />
            {% endif %}
        {% endfor %}
        <br>
        <input type="submit" value="Filter" class="btn btn-info">
    </form>
    <form style="display:inline" action="/config/list/{{ typ }}/">
        <input type="submit" value="Reset filter" class="btn btn-info"/>
    </form>
    <hr>
    <br>
{% endif %}
