{% load util %}
<form method="get" class="ga-form-inline" action="/config/detailed/{{ typ }}/{{ data.id }}">
    {% include "../../btn/detailed.html" %}
    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
</form>
<form method="get" class="ga-form-inline" action="/config/update/{{ typ }}/{{ data.id }}">
    {% include "../../btn/edit.html" %}
    <input type="hidden" name="action" value="Update" />
    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
</form>
<form method="post" class="ga-form-inline" action="/config/delete/{{ typ }}/{{ data.id }}" onsubmit="return confirm('Do you really want to delete the device model?');">
    {% csrf_token %}
    {% include "../../btn/delete.html" %}
    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
</form>
{% set_var typ as sock_type %}
{% include "./actions_socket.html" %}
