{% extends "../../body.html" %}
{% load util %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped ga-text-responsive">
            {% block subview %}
            {% endblock %}
            <tr>
                <td colspan="100%">
                    <form class="ga-form-inline" method="get" action="/config/create/{{ typ }}/">
                        {% include "../../btn/create.html" %}
                        <input type="hidden" name="action" value="Create" />
                        <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                    </form>
                    {% include "../../btn/back.html" %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
