{% extends "./base.html" %}
{% load util %}
{% block subview %}
    <tr>
        <th>
            NAME
        </th>
        <th>
            DESCRIPTION
        </th>
        <th>
            ENABLED
        </th>
        <th>
            ACTION
        </th>
    </tr>
    {% if dataset|length == 0 %}
        {% include "../../warn/table_no_results.html" %}
    {% endif %}
    {% for data in dataset %}
        <tr>
            <td>
                {{ data|get_item:'name,---' }}
            </td>
            <td>
                {{ data|get_item:'description,---' }}
            </td>
            <td>
                {{ data|get_item:'enabled,---' }}
            </td>
            <td>
                <form method="get" class="ga-form-inline" action="/config/detailed/{{ typ }}/{{ data.id }}">
                    <input type="submit" value="More info" class="btn btn-info"/>
                    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                </form>
                <form method="get" class="ga-form-inline" action="/config/update/{{ typ }}/{{ data.id }}">
                    <input type="submit" value="Change" class="btn btn-warning"/>
                    <input type="hidden" name="action" value="Update" />
                    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                </form>
                <form class="ga-form-inline" method="post" action="/config/delete/{{ typ }}/{{ data.id }}">
                    {% csrf_token %}
                    {% if request.user|authorized_to_write %}
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    {% else %}
                        <input type="submit" value="Delete" class="btn btn-danger" disabled/>
                    {% endif %}
                    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
