{% extends "./base.html" %}
{% load util %}
{% block subview %}
    {% if request.GET|has_key:'response' %}
        {% set_var request.GET|get_item:'response' as resp %}
        {% if 'succeeded' in resp %}
            <div class="alert alert-success">
                <strong>{{ resp }}</strong>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <strong>{{ resp }}</strong>
            </div>
        {% endif %}
    {% endif %}
    <tr>
        <th>
            NAME
        </th>
        <th>
            DESCRIPTION
        </th>
        <th>
            ENABLED
        </th>
        <th>
            ACTION
        </th>
    </tr>
    {% if dataset|length == 0 %}
        {% include "../../warn/table_no_results.html" %}
    {% endif %}
    {% for data in dataset %}
        <tr>
            <td>
                {{ data|get_item:'name,---' }}
            </td>
            <td>
                {{ data|get_item:'description,---' }}
            </td>
            <td>
                {{ data|get_item:'enabled,---' }}
            </td>
            <td>
                {% include "./actions.html" %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
