{% extends "./base.html" %}
{% load util %}
{% block subview %}
    <tr>
        <th>
            NAME
        </th>
        <th>
            DESCRIPTION
        </th>
        <th>
            ENABLED
        </th>
        <th>
            ACTION
        </th>
    </tr>
    {% if dataset|length == 0 %}
        {% include "../../warn/table_no_results.html" %}
    {% endif %}
    {% for data in dataset %}
        <tr>
            <td>
                {{ data|get_item:'name,---' }}
            </td>
            <td>
                {{ data|get_item:'description,---' }}
            </td>
            <td>
                {{ data|get_item:'enabled,---' }}
            </td>
            <td>
                {% include "./actions.html" %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
