{% extends "./base.html" %}
{% load util %}
{% block subview %}
    <tr>
        {% for header in group_tbl.keys %}
            <th>
                {{ header|upper }}
            </th>
        {% endfor %}
        <th>
            MEMBERS
        </th>
        <th>
            ACTION
        </th>
    </tr>
    {% if dataset|length == 0 %}
        {% include "../../warn/table_no_results.html" %}
    {% endif %}
    {% for data in dataset %}
        {% if not group_hide_list or not data.typ.name in group_hide_list %}
            {% if not group_show_list or data.typ.name in group_show_list %}
                <tr>
                    {% for value in group_tbl.values %}
                        <td>
                            {% set_var value|add:', ' as val %}
                            {{ data|get_item:val }}
                        </td>
                    {% endfor %}
                    <td>
                        {% if member_view_active %}
                            {% if member_view_active == data.name %}
                                <form method="get" class="ga-form-inline" action="{{ request.REFERER }}">
                                    {% include "../../btn/collapse.html" %}
                                </form>
                            {% else %}
                                <form method="get" class="ga-form-inline" action="{{ request.REFERER }}">
                                    {% include "../../btn/expand.html" %}
                                    <input type="hidden" name="list_member" value="{{ data.name }}" />
                                </form>
                            {% endif %}
                        {% else %}
                            <form method="get" class="ga-form-inline" action="{{ request.REFERER }}">
                                {% include "../../btn/expand.html" %}
                                <input type="hidden" name="list_member" value="{{ data.name }}" />
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <form method="get" class="ga-form-inline" action="/config/detailed/{{ typ }}/{{ data.id }}">
                            {% include "../../btn/detailed.html" %}
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                        <form method="get" class="ga-form-inline" action="/config/update/{{ typ }}/{{ data.id }}">
                            {% include "../../btn/edit.html" %}
                            <input type="hidden" name="action" value="Update" />
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                        <form method="post" class="ga-form-inline" action="/config/delete/{{ typ }}/{{ data.id }}">
                            {% csrf_token %}
                            {% include "../../btn/delete.html" %}
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                    </td>
                </tr>
                {% block memberview %}
                {% endblock %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
