{% extends "./base.html" %}
{% load util %}
{% block subview %}
    <tr>
        <th>
            NAME
        </th>
        {% if typ == 'conditionlinkobject' %}
            <th>
                OPERATOR
            </th>
        {% else %}
            <th>
                DESCRIPTION
            </th>
            <th>
                ENABLED
            </th>
        {% endif %}
        <th>
            MEMBERS
        </th>

        {% if typ == 'conditionlinkobject' %}
            <th colspan="2">
        {% else %}
            <th>
        {% endif %}
            ACTION
        </th>
    </tr>
    {% if dataset|length == 0 %}
        {% include "../../warn/table_no_results.html" %}
    {% endif %}
    {% for data in dataset %}
        {% if not group_hide_list or not data.typ.name in group_hide_list %}
            {% if not group_show_list or data.typ.name in group_show_list %}
                <tr>
                    <td>
                        {{ data|get_item:'name' }}
                    </td>
                    {% if typ == 'conditionlinkobject' %}
                        <td>
                            {{ data|get_item:'operator'|to_uppercase }}
                        </td>
                    {% else %}
                        <td>
                            {{ data|get_item:'description' }}
                        </td>
                        <td>
                            {{ data|get_item:'enabled' }}
                        </td>
                    {% endif %}
                    <td>
                        {% if member_view_active %}
                            {% if member_view_active == data.name %}
                                <form method="get" class="ga-form-inline" action="{{ request.REFERER }}">
                                    <input type="submit" value="Hide members" class="btn btn-secondary"/>
                                </form>
                            {% else %}
                                <form method="get" class="ga-form-inline" action="{{ request.REFERER }}">
                                    <input type="submit" value="Show members" class="btn btn-info"/>
                                    <input type="hidden" name="list_member" value="{{ data.name }}" />
                                </form>
                            {% endif %}
                        {% else %}
                            <form method="get" class="ga-form-inline" action="{{ request.REFERER }}">
                                <input type="submit" value="Show members" class="btn btn-info"/>
                                <input type="hidden" name="list_member" value="{{ data.name }}" />
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        <form method="get" class="ga-form-inline" action="/config/detailed/{{ typ }}/{{ data.id }}">
                            <input type="submit" value="More info" class="btn btn-info"/>
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                        <form method="get" class="ga-form-inline" action="/config/update/{{ typ }}/{{ data.id }}">
                            <input type="submit" value="Change" class="btn btn-warning"/>
                            <input type="hidden" name="action" value="Update" />
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                        <form method="post" class="ga-form-inline" action="/config/delete/{{ typ }}/{{ data.id }}">
                            {% csrf_token %}
                            {% if request.user|authorized_to_write %}
                                <input type="submit" value="Delete" class="btn btn-danger" data-toggle="confirmation"/>
                            {% else %}
                                <input type="submit" value="Delete" class="btn btn-danger" disabled data-toggle="confirmation"/>
                            {% endif %}
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                    </td>
                </tr>
                {% block memberview %}
                {% endblock %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
