{% load util %}
{% for member in member_data %}
    {% set_var member_own_type as sock_type %}
    <tr class="table-active">
        {% set_var member|get_item:member_key as member_obj %}
        {% for value in member_tbl.values %}
            <td>
                {% if value|found:'!' %}
                    {% set_var value|slice:"1:" as val %}
                    {{ member_config|get_item:val }}
                {% elif value|found:'?' %}
                    {% set_var value|slice:"1:" as val %}
                    {{ member|get_item:val }}
                {% else %}
                    {% set_var value|add:',---' as val %}
                    {{ member_obj|get_item:val }}
                {% endif %}
            </td>
        {% endfor %}
        {% if 'output' in typ %}
            <td>
                {% if device_status|get_item:member_obj == 1 %}
                    Active
                {% elif device_status|get_item:member_obj == 0 %}
                    Idle
                {% else %}
                    Unknown
                {% endif %}
            </td>
        {% endif %}
        <td>
            <form method="get" class="ga-form-inline" action="/config/detailed/{{ member_own_type }}/{{ member_obj.id }}">
                {% include "../../btn/detailed.html" %}
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>
            <form method="get" class="ga-form-inline" action="/config/update/{{ member_own_type }}/{{ member_obj.id }}">
                {% include "../../btn/edit.html" %}
                <input type="hidden" name="action" value="Update" />
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>
            {% if member_own_sub_type in MAIN_CONFIG.keys %}
                <form method="post" class="ga-form-inline" action="/config/delete/{{ member_own_sub_type }}/{{ member.id }}" onsubmit="return confirm('Do you really want to remove the device?');">
            {% else %}
                <form method="post" class="ga-form-inline" action="/config/delete/{{ member_type }}/{{ member.id }}" onsubmit="return confirm('Do you really want to remove the device?');">
            {% endif %}
                {% csrf_token %}
                {% include "../../btn/member_remove.html" %}
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>
            <form class="ga-form-inline" method="post" action="/config/delete/{{ member_own_type }}/{{ member_obj.id }}" onsubmit="return confirm('Do you really want to delete the device?');">
                {% csrf_token %}
                {% include "../../btn/member_delete.html" %}
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>
            {% include "./actions_socket.html" %}
        </td>
    </tr>
{% endfor %}
