{% extends "./group.html" %}
{% load util %}
{% block memberview %}
    {% if member_view_active and member_view_active == data.name %}
        <tr class="table-active">
            {% for header in member_tbl.keys %}
                <th>
                    {{ header|upper }}
                </th>
            {% endfor %}
            <th>
                ACTION
            </th>
        </tr>
        {% if member_data_dict|length == 0 %}
            {% include "../../warn/table_no_results.html" %}
        {% else %}
            {% for member_typ, member_config in member_type_dict.items %}
                {% set_var member_config|get_item:'member_key' as member_key %}
                {% set_var member_data_dict|get_item:member_typ as member_data %}
                {% set_var member_config|get_item:'url' as member_own_type %}
                {% include "./member_data.html" %}
            {% endfor %}
        {% endif %}
         <tr class="table-active">
             <td colspan="100%">
                 {% if member_type_dict|length == 1 %}
                     {% for typ_name, typ_nested in member_type_dict.items %}
                        <form method="get" class="ga-form-inline" action="/config/switch/{{ member_type }}/{{ typ_name }}/">
                     {% endfor %}
                 {% elif member_type_dict|length > 1 %}
                     <form method="get" class="ga-form-inline" action="/config/switch/{{ member_type }}/">
                     <label>Choose member type:
                         <select class="form-control" name="typ" onchange="this.form.action=this.value">
                             <option selected>---------</option>
                             {% for typ_name, typ_nested in member_type_dict.items %}
                                 <option value="/config/switch/{{ member_type }}/{{ typ_name }}/">{{ typ_nested|get_item:'pretty' }}</option>
                             {% endfor %}
                         </select>
                     </label>
                 {% endif %}
                     <input type="hidden" name="group" value="{{ data|get_item:'id' }}" />
                     <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                     <br>
                     <input type="submit" name="action" value="Add" class="btn btn-success"/>
                     <input type="submit" name="action" value="Create" class="btn btn-success"/>
                     <!-- todo: disable list if target is hidden -->
                     <input type="submit" name="action" value="List" class="btn btn-info"/>
                 </form>
             </td>
         </tr>
    {% endif %}
{% endblock %}
