{% extends "./group.html" %}
{% load util %}
{% block memberview %}
    {% if member_view_active and member_view_active == data.name %}
        <tr class="table-active">
            {% for header in member_tbl.keys %}
                <th>
                    {{ header|upper }}
                </th>
            {% endfor %}
            {% if 'output' in typ %}
                <th>
                    STATUS
                </th>
            {% endif %}
            <th>
                ACTION
            </th>
        </tr>
        {% if member_data_dict|length == 0 %}
            {% include "../../warn/table_no_results.html" %}
        {% else %}
            {% for tmp_member_type, member_config in MEMBER_CONFIG.items %}
                {% set_var member_config|get_item:'member_key' as member_key %}
                {% set_var member_data_dict|get_item:tmp_member_type as member_data %}
                {% set_var member_config|get_item:'url' as member_own_type %}
                {% set_var 'add_url,'|add:tmp_member_type as tmp %}
                {% set_var member_config|get_item:tmp as member_own_sub_type %}
                {% include "./member_data.html" %}
            {% endfor %}
        {% endif %}
         <tr class="table-active">
             <td colspan="100%">
                 {% if MEMBER_CONFIG|length == 1 %}
                     {% for typ_name, typ_nested in MEMBER_CONFIG.items %}
                        <form method="get" class="ga-form-inline" action="/config/switch/{{ member_type }}/{{ typ_name }}/">
                     {% endfor %}
                 {% elif MEMBER_CONFIG|length > 1 %}
                     <form method="get" class="ga-form-inline" action="/config/switch/{{ member_type }}/">
                     <label>Choose member type:
                         <select class="form-control" name="typ" onchange="this.form.action=this.value">
                             <option selected>{% get_empty %}</option>
                             {% for typ_name, typ_nested in MEMBER_CONFIG.items %}
                                 <option value="/config/switch/{{ member_type }}/{{ typ_name }}/">{{ typ_nested|get_item:'pretty' }}</option>
                             {% endfor %}
                         </select>
                     </label>
                 {% endif %}
                     <input type="hidden" name="group" value="{{ data|get_item:'id' }}" />
                     <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                     <br>
                     {% include "../../btn/create.html" %}
                     {% include "../../btn/add.html" %}
                     <!-- todo: disable list if target is hidden -->
                     {% include "../../btn/list.html" %}
                 </form>
             </td>
         </tr>
    {% endif %}
{% endblock %}
