{% load util %}
{% for member in member_data %}
    <tr class="table-active">
        <td>
            {% if typ == 'conditionlinkobject' %}
                {{ member|get_item:'order' }} | {{ member_pretty }}
            {% else %}
                {{ member_pretty }}
            {% endif %}
        </td>
        <td>
            {{ member|get_item:member_key|get_item:'name' }}
        </td>
        <td>
            {% if member|has_key:'description' %}
                {{ member|get_item:member_key|get_item:'description' }}
            {% else %}
                ---
            {% endif %}
        </td>
        <td>
            <!--
            todo: member.id is the id of the 'link' between member and group; need to get object id
            <form method="get" style="display:inline" action="/config/detailed/{{ member_own_type }}/{{ member.id }}">
                <input type="submit" value="More info" class="btn btn-info"/>
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>
            <form method="get" style="display:inline" action="/config/update/{{ member_own_type }}/{{ member.id }}">
                <input type="submit" value="Change" class="btn btn-warning"/>
                <input type="hidden" name="action" value="Update" />
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>
            -->
            <form method="post" style="display:inline" action="/config/delete/{{ member_type }}/{{ member.id }}">
                {% csrf_token %}
                {% if request.user|authorized_to_write %}
                    <input type="submit" value="Remove" class="btn btn-danger"/>
                {% else %}
                    <input type="submit" value="Remove" class="btn btn-danger" disabled/>
                {% endif %}
                <input type="hidden" name="return" value="{{ request.get_full_path }}" />
            </form>

        </td>
    </tr>
{% endfor %}
