.ga-nav-main {
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
    .ga-nav-main {
        font-weight: bold;
        text-transform: uppercase;
    }
}

.ga-nav-main-a {
    font-weight: normal;
    text-transform: none;
}

.ga-main {
    margin: 2%;
}

.ga-footer {
    margin: 2%;
}

.ga-footer-info {
    border-radius: 5px;
    padding: 1% 2%;
}

.ga-footer-text {
    background-color: #343a40;
    padding: 1% 2%;
    color: white;
    border-radius: 5px;
}

.ga-file-content {
    white-space: break-spaces;
    background: #d9e0d7;
    padding: 1% 2%;
    border-radius: 5px;
    overflow: auto;
    margin: 0 0;
}

.ga-nav-icon {
    border-radius: 50%;
}

.ga-chart {
    position: relative;
}

.ga-chart-main {
    height: 45vh;
    width: 90vw;
}

@media only screen and (max-width: 600px) {
    .ga-chart-main {
    height: 35vh;
    width: 90vw;
    }
}

.help-block {
    font-style: italic;
    font-size: small;
}

form label {
    font-weight: bold;
}

form .error-msg {
    color: rgb(164, 0, 15);
    font-weight: bold;
}
