body {
    padding: 0 0;
    margin: 0 0;
}

.ga-nav {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    margin-bottom: 5vh;
}

.ga-nav-container {
    border-radius: 0 0 5px 5px;
}

.ga-nav-main {
    font-weight: bold;
    text-transform: uppercase;
}

.ga-nav-main-a {
    font-weight: normal;
    text-transform: none;
}

.ga-nav-icon {
    border-radius: 50%;
}

.ga-main {
    margin: 2%;
    height: 100%;
    margin-bottom: 150px;
}

.ga-footer-wrapper {
    margin-top: 10vh;
}

.ga-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.ga-footer > div {
    padding: 0.5% 1%;
    border-radius: 5px 5px 0 0;
}

.ga-footer-text {
    background-color: #343a40;
    text-align: center;
}

.ga-footer-text > div {
    color: white;
    font-size: small;
    display: inline-block;
}

.ga-file-content {
    background: #d9e0d7;
    border-radius: 5px;
    overflow: auto;
    padding: 1% 1.5%;
    margin: 0 0;
    list-style-type: none;
}

.ga-file-content-line {
    text-indent: -3vw;
    padding-left: 3vw;
    padding-top: 3px;
    white-space: break-spaces;
    counter-increment: step-counter;
}

.ga-file-content li::before {
    content: counter(step-counter, decimal-leading-zero);
    margin-right: 15px;
    font-size: 80%;
    background-color: rgb(23, 162, 184);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.ga-chart {
    position: relative;
}

.ga-chart-main {
    height: 45vh;
    width: 90vw;
    margin: 3vh auto;
}

.help-block {
    font-style: italic;
    font-size: small;
}

form label {
    font-weight: bold;
}

form .error-msg {
    color: rgb(164, 0, 15);
    font-weight: bold;
}

.ga-img-float {
    width: 85%;
    max-width: 500px;
}

.ga-db-preview {
    width: 98%;
    max-height: 70vh;
    min-height: 15vh;
    margin: 3vh auto;
    border-style: solid;
    border-radius: 5px;
    border-color: #343a40;
    border-width: 3px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ga-db-preview-grid {
    margin: 1vw;
    display: grid;
    grid-auto-rows: 5vw;
    grid-auto-columns: 1fr;
    grid-gap: 5px;
}

.ga-db-preview > div {
    text-align: center;
}

.ga-dbp {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-style: solid;
    border-radius: 5px;
    border-color: #343a40;
    border-width: 2px;
    background-color: white;
}

.ga-dbp-preview-filler {
    background-color: rgba(21, 172, 64, 0.1);
    padding-top: 2vw;
}

.ga-dbp-chart {
    display: block;
    max-height: 80%;
    overflow: hidden;
}

.ga-dbp-text {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.ga-dbp-title {
    display: block;
    line-height: 0;
    padding-top: 10px;
}

.ga-dbp-description {
    display: block;
    font-style: italic;
    font-size: x-small;
    line-height: 0;
    padding-bottom: 0.1px;
}

.ga-sideinfo {
    font-style: italic;
    font-size: x-small;
}

.ga-form-inline {
    display: inline;
}

.ga-form-inline-right {
    float: right;
}

.ga-db {
    width: 100%;
    margin-top: 5vh;
}

.ga-db-grid {
    display: grid;
    grid-auto-rows: 5vw;
    grid-auto-columns: 1fr;
    grid-gap: 5px;
}

.ga-error-500 {
    text-align: center;
}

.ga-error-500 > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    max-height: 60vh;
    max-width: 80vw;
}

.ga-login {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

.ga-login-fields {
    width: 40vw;
    box-sizing: border-box;
}

.ga-btn-action {
    padding: 0.35rem 0.4rem !important;
    opacity: 75%;
    border-radius: .35rem !important;
    border-width: 0 !important;
}

.ga-btn-action:hover {
    background-color: #121212 !important;
    opacity: 87%;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.ga-btn-action:disabled {
    background-color: #121212 !important;
    opacity: 87%;
}

.ga-btn-action:disabled .ga-btn-action-icon {
    color: #FFFFFF;
    opacity: 60%;
}


.ga-btn-action-icon {
    color: #121212;
}

.ga-btn-action:hover:not([disabled]) .ga-btn-action-icon {
    color: #FFFFFF;
    opacity: 87%;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.ga-icon-nav {
    color: #FFFFFF;
    opacity: 60%;
}

.ga-nav-right-li:hover .ga-icon-nav {
    color: rgb(195, 188, 49);
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.ga-nav-right-li:hover .ga-icon-logout {
    color: #B00020;
}

.ga-header {
    color: #121212;
    padding-bottom: 15px;
    margin-bottom: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 3px solid #121212;
}
