@media only screen and (max-width: 1300px) {  /* tablets */
    .ga-text-responsive, .ga-text-responsive .btn {
        font-size: 0.9rem;
    }

    .ga-db-preview-grid {
        grid-auto-rows: 35vw;
        margin: 2vw;
    }

    .ga-db-grid {
        grid-auto-rows: 35vw;
    }

    .ga-form-inline-right {
        float: none;
    }
}

@media only screen and (max-width: 991px) {
    .ga-nav-main {
        font-weight: bold;
        text-transform: uppercase;
    }

}

@media only screen and (max-width: 801px) {  /* tablets */
    .ga-text-responsive, .ga-text-responsive .btn {
        font-size: 0.9rem;
    }

    .ga-db-preview-grid {
        grid-auto-rows: 45w;
        margin: 3vw;
    }

    .ga-db-grid {
        grid-auto-rows: 45w;
    }
}

@media only screen and (max-width: 500px) {  /* mobile devices */
    .ga-chart-main {
        height: 35vh;
        width: 90vw;
    }

    .ga-text-responsive, .ga-text-responsive .btn {
        font-size: 0.8rem;
    }

    .ga-db-preview-grid {
        grid-auto-rows: 75vw;
        margin: 5vw;
    }

    .ga-db-grid {
        grid-auto-rows: 75vw;
    }

    .ga-file-content-line {
        text-indent: -5vw;
        padding-left: 5vw;
    }

}

@include media-breakpoint-between(xs,sm){
  .btn {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  }
}
