<!DOCTYPE html>
{% load util %}
<html lang="en">
    <head>
        {% include "./head.html" %}
        <!-- START custom header additions -->
            {% block extrahead %}
            {% endblock %}
        <!-- END custom header additions -->
    </head>
    <body>
        {% include "./nav.html" %}
        {% include "./error/js_disabled.html" %}
        {% if request|hide_warning == False %}
            {% include "./warn/connection_insecure.html" %}
            {% include "./warn/connection_public.html" %}
            {% include "./info/read_only.html" %}
        {% endif %}
        <main class="ga-main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="ga-footer">
            <br>
            <hr>
            {% if not request|get_login_state %}
                <div class="alert alert-info ga-footer-info">
                    <strong>You can login with this demo user to get an overview:</strong><br>
                    <strong>Username:</strong> demo<br>
                    <strong>Password:</strong> grow2020
                </div>
            {% endif %}
            <div class="ga-footer-text">
                © 2021 Growautomation.at <br>
                Newest versions: <a href='https://github.com/superstes/growautomation'>git.growautomation.eu</a>
            </div>
        </footer>
    </body>
</html>
