<!DOCTYPE html>
{% load util %}
<html lang="en">
    <head>
        {% include "./head.html" %}
        <!-- START custom header additions -->
            {% block extrahead %}
            {% endblock %}
        <!-- END custom header additions -->
    </head>
    <body>
        {% include "./nav.html" %}
        {% include "./error/js_disabled.html" %}
        {% if hide_warning == False %}
            {% include "./warn/connection_insecure.html" %}
            {% include "./warn/connection_public.html" %}
            {% include "./info/read_only.html" %}
        {% endif %}
        <main class="ga-main">
            {% if title %}
            <h1 class="ga-header">{{ title }}</h1>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <br>
        <div class="ga-footer-wrapper">
            <footer class="ga-footer">
                <div class="ga-footer-text">
                    <div>
                        © 2021 Superstes | Version {% get_version %}
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
