{% extends "./body.html" %}
{% load util %}
{% load static %}
{% block content %}
    <img src="{% static 'img/ga03.png' %}" alt="" onerror="this.style.display='none'" class="ga-img-float"/>
    <br><br><hr>
    <h3>Management interface</h3>
    <p>
        The goal is to automate activities related to the cultivation of plants. <br> <br>

        And thus to minimize the associated repetitive tasks and optimize the process. <br> <br>

        It's simple. And should also remain so if you have little time for it. <br> <br> <br>

    <br><hr>
    <h3>Thoughts about growing</h3>

        It should not be necessary to check if the plants need water. <br>
          - Watering should be done automatically but only when necessary. <br><br>

        Nor should there be a need to know if the temperature is optimal. <br>
          - Windows should open when it is too hot and close when it gets colder. <br><br>

        A storm is coming? <br>
          - The windows should close by themselves. <br><br>

        Would you like to know what conditions have led to more or less yield? <br>
          - We should analyze the data and find correlations. <br>
          - That's how we can learn from our mistakes. <br><br>

        - Want to know how your plants are doing? <br>
          - Just check the stats on the website - comfortably from your smartphone.
    </p>
<!--
    <table class="table table-striped">
        <tr>
            <th>
                TYPE
            </th>
            <th>
                LINK
            </th>
        </tr>
        {% for typ, data in type_dict.items %}
            {% if data|get_item:'hidden' is False %}
                <tr>
                    <td>
                        {{ data|get_item:'pretty' }}
                    </td>
                    <td>
                        <form action="/config/list/{{ typ }}/">
                            <input type="submit" value="Go to list" class="btn btn-info"/>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
-->
{% endblock %}
