{% extends "./tmpl/main.html" %}
{% load bootstrap_tags %}
{% load util %}
{% block extraoptions %}
    <br><hr><br>
    <h2>
        Links
    </h2>
    <br>
    {% if selected is not None %}
        <h3>
            Graph prototype
        </h3>
        <!-- link graph start -->
        <form method="post">
            {% csrf_token %}
            {{ graph_form|as_bootstrap }}
            <input type="hidden" name="id" value="{{ graph_selected }}">
            <input type="hidden" name="group" value="{{ selected }}">
            <input type="hidden" name="do" value="{{ action }}">
            <input type="hidden" name="selected" value="{{ selected }}">
            {% for dataset in request|request_getlist:'dataset' %}
                <input type="hidden" name="dataset" value="{{ dataset }}">
            {% endfor %}
            <input type="hidden" name="form" value="graph">
            {% include "../../btn/save.html" %}
        </form>
        <br><br>
        <!-- link graph stop -->
        <h3>
            Datasets
        </h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>
                        NAME
                    </th>
                    {% if not request.user_agent.is_mobile %}
                        <th>
                            DESCRIPTION
                        </th>
                    {% endif %}
                    <th>
                        ACTION
                    </th>
                </tr>
                {% if dataset_link_list|length == 0 %}
                    {% include "../../warn/table_no_results.html" %}
                {% else %}
                    {% for dataset_link in dataset_link_list %}
                        <tr>
                            <td>
                                {{ dataset_link.obj.name }}
                            </td>
                            {% if not request.user_agent.is_mobile %}
                                <td>
                                    {{ dataset_link.obj.description }}
                                </td>
                            {% endif %}
                            <td>
                                <form class="ga-form-inline" method="post" action="/data/chart/dashboard/dataset/">
                                    {% csrf_token %}
                                    {% include "../../btn/delete.html" %}
                                    <input type="hidden" name="id" value="{{ dataset_link.id }}" />
                                    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                                    <input type="hidden" name="action" value="Delete" />
                                    <input type="hidden" name="selected" value="{{ selected }}" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td colspan="100%">
                        <form class="ga-form-inline" method="get" action="/data/chart/dashboard/dataset/">
                            {% include "../../btn/add.html" %}
                            {% include "../../btn/create.html" %}
                            <input type="hidden" name="return" value="{{ request.get_full_path }}" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <br><hr><br>
    {% else %}
        <div class="alert alert-info">
            <strong>Choose a dashboard element to see more.</strong>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    {% include "./js/dashboard.html" %}
{% endblock %}
