<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    var period = urlParams.get('period');
    var input_device = urlParams.get('input_device');
    var period_data = urlParams.get('period_data');
    var start_ts = urlParams.get('start_ts');
    var stop_ts = urlParams.get('stop_ts');
    console.log(period);
    console.log(period_data);
    console.log(input_device);
    console.log(start_ts);
    console.log(stop_ts);
    console.log(`/api/data/?period=${period}&period_data=${period_data}&input_device=${input_device}`);
    console.log(`/api/data/?start_ts=${start_ts}&stop_ts=${stop_ts}&input_device=${input_device}`);

    async function fetchData() {
        if (period !== null && period_data !== null) {
            var url = `/api/data/?period=${period}&period_data=${period_data}&input_device=${input_device}`;
        } else if (start_ts !== null && stop_ts !== null) {
            var url= `/api/data/?start_ts=${start_ts}&stop_ts=${stop_ts}&input_device=${input_device}`;
        } else {
            var url = `/api/data/?start_ts=${start_ts}&input_device=${input_device}`;
        }

        const response = await fetch(url);

        const data = await response.json();
        return data;
    }
    fetchData().then(ga_config => {
        console.log(ga_config);
        let testChart = document.getElementById('myChart').getContext('2d');
        let realTestChart = new Chart(testChart, {
            type: 'line',
            data: {
                labels: ga_config.time_list,
                datasets: [{
                    label: `${ga_config.device_name} in ${ga_config.data_unit}`,
                    data: ga_config.data_list,
                    backgroundColor: 'lightblue',
                }],
            },
            options: {
                parsing: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20,
                        },
                        time: {
                            displayFormats: {
                                'millisecond': 'HH:mm | DD-MM-YYYY',
                                'second': 'HH:mm | DD-MM-YYYY',
                                'minute': 'HH:mm | DD-MM-YYYY',
                                'hour': 'HH:mm | DD-MM-YYYY',
                                'day': 'HH:mm | DD-MM-YYYY',
                                'week': 'HH:mm | DD-MM-YYYY',
                                'month': 'HH:mm | DD-MM-YYYY',
                                'quarter': 'HH:mm | DD-MM-YYYY',
                                'year': 'HH:mm | DD-MM-YYYY',
                                }
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            suggestedMax: 100,
                        }
                    }]
                }
            }
        });
    })
</script>