{% extends "../../body.html" %}
{% load util %}
{% load tz %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <h1>Charts</h1>
    <br><hr><br>
    {% if status is not None and what is not None %}
        <div class="alert alert-success">
            <strong>{{ status|title }} {{ what }}</strong>
        </div>
        <br><hr><br>
    {% endif %}
    <h2>Logic</h2><br>
    <div align="center" style="display: block;">
        <img src="{% static 'img/chart.svg' %}" alt="" onerror="this.style.display='none'" style="max-width: 400px;" class="ga-img-float"/>
    </div>
    <br><hr><br>
    <h2>Dataset</h2>
    <p class="help-block">What data to visualize</p><br>
    <a href='/data/chart/dataset/?do=create' class="btn btn-primary">Create</a>
    {% if dataset_list|length != 0 %}
        <a href='/data/chart/dataset/?do=show' class="btn btn-primary">View / Edit</a>
    {% else %}
        <button class="btn btn-primary" disabled>View / Edit</button>
    {% endif %}
    <br><hr><br>
    <h2>Graph prototype</h2>
    <p class="help-block">Optical adjustments to the graph used to join datasets</p><br>
    <a href='/data/chart/graph/?do=create' class="btn btn-primary">Create</a>
    {% if graph_list|length != 0 %}
        <a href='/data/chart/graph/?do=show' class="btn btn-primary">View / Edit</a>
    {% else %}
        <button class="btn btn-primary" disabled>View / Edit</button>
    {% endif %}
    <br><hr><br>
    <h2>Dashboard elements</h2>
    <p class="help-block">Joins graph prototype and datasets => can be integrated in dashboards</p><br>
     <a href='/data/chart/dbe/?do=create' class="btn btn-primary">Create</a>
    {% if dashboard_list|length != 0 %}
         <a href='/data/chart/dbe/?do=show' class="btn btn-primary">View / Edit</a>
    {% else %}
        <button class="btn btn-primary" disabled>View / Edit</button>
    {% endif %}
{% endblock %}
