{% extends "../body.html" %}
{% load util %}
{% block content %}
    <div class="alert alert-danger">
        <h1>Error 404</h1>
        <strong>
            {% if error_msg is not None %}
                The following error occurred while loading the page:<br>
                '{{ error_msg }}'
            {% else %}
                Could not load page:
            {% endif %}
            <br><br>
            '{{ request|get_full_uri }}'</strong>
    </div>
    {% include "../btn/back.html" %}
{% endblock %}
