{% extends "../body.html" %}
{% load util %}
{% block content %}
    <div class="alert alert-danger">
        <div class="ga-error-500">
            <h1>Error 500</h1>
            <h2>Oooooopppsss!</h2><br>
            <strong>
                Something did go wrong while loading the page:
                <br><br>
                '{{ request|get_full_uri }}'
            </strong>
            <br><hr><br>
            <strong>Last error:</strong><br>
            {% get_last_errors %}
            <br><hr><br>
            {% if error_trace is not None and request|security_mode == 0 %}
                <strong>Error traceback:</strong><br>
                <pre>{{ error_trace }}</pre>
                <br><hr><br>
            {% endif %}
            {% include "./500_gif.html" %}
        </div>
    </div>
    {% include "../btn/back.html" %}
{% endblock %}
