{% extends "../body.html" %}
{% load util %}
{% block content %}
    <div class="ga-error-500">
        <div class="alert alert-danger">
            <h1>Error 500</h1>
            <h2>Oooooopppsss!</h2><br>
            <strong>
                Something did go wrong while loading the page:
                <br><br>
                '{{ request|get_full_uri }}'
            </strong>
            <br><hr>
            <strong>Last error:</strong><br>
            {{ error_msg | get_error }}
            <br><hr>
            <strong>Error traceback:</strong><br>
            <pre>{% get_traceback %}</pre>
            <br><hr>
            {% include "./500_gif.html" %}
        </div>
    </div>
    {% include "../btn/back.html" %}
{% endblock %}
