{% load util %}
{% if request|get_item:'method' == 'POST' or form_error is not None %}
    {% if form_error %}
        <div class="alert alert-danger">
            <strong>{{ form_error }}</strong>
        </div>
    {% elif form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
