{% extends "../body.html" %}
{% load util %}
{% load static %}
{% block content %}
    <div align="center" style="display: block;">
        <img src="{% static 'img/ga02c.svg' %}" alt="" onerror="this.style.display='none'" class="ga-img-float"/>
    </div>
    <div class="ga-login">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% if next and next != '/' %}
            <div class="alert alert-info">
                {% if user.is_authenticated %}
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                {% else %}
                    Please login to see this page.
                {% endif %}
            </div>
        {% endif %}
        <br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="id_username" class="ga-login-fields">
                Username:
                <input class="ga-login-fields form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
            </label>
            <br>
            <label for="id_password" class="ga-login-fields">
                Password:
                <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password">
            </label>
            <br>
            <button type="submit" value="login" class="btn btn-secondary">Login</button>
        </form>
        {% if 'GA_DEMO'|check_mode %}
            <div class="alert alert-info ga-info-special-mode">
                <strong>You can login with this demo user to get an overview:</strong><br>
                <strong>Username:</strong> demo<br>
                <strong>Password:</strong> Grow2021
            </div>
        {% elif 'GA_BETA'|check_mode %}
            <div class="alert alert-info ga-info-special-mode">
                <strong>This is the GrowAutomation Beta-System</strong><br>
                You can get access to this preview by supporting our cause:<br>
                <a href="https://github.com/sponsors/superstes">Sponsor</a>
            </div>
        {% endif %}
    </div>
{% endblock %}