{% extends "../body.html" %}
{% load util %}
{% block content %}
    <form name="log_type" method="get" >
        <label for="log_type">Log type</label>
        <select class="form-control" id="log_type" name="log_type" >
            {% if log_type is None or log_type not in log_type_options %}
                <option selected>{% get_empty %}</option>
            {% endif %}
            {% for option in log_type_options %}
                {% if log_type is not None and option == log_type %}
                    <option selected value="{{ option }}">{{ option }}</option>
                {% else %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if log_type in log_type_options %}
            <label for="log_subtype">Sub type</label>
            <select class="form-control" id="log_subtype" name="log_subtype" >
                {% if log_subtype is None or log_subtype not in log_subtype_option_list %}
                    <option selected>{% get_empty %}</option>
                {% endif %}
                {% for option in log_subtype_option_list %}
                    {% if log_subtype is not None and option == log_subtype %}
                        <option selected value="{{ option }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}

        {% if log_type == 'Service journal' or log_type == 'GrowAutomation' %}
            <label for="log_entry_count">Max entries</label>
            <select class="form-control" id="log_entry_count" name="log_entry_count" >
                {% for option in log_entry_range %}
                    {% if option == log_entry_count %}
                        <option selected value="{{ option }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
        {% if log_type == 'GrowAutomation' %}
            <label for="log_year">Logs of year</label>
            <select class="form-control" id="log_year" name="log_year" >
                {% for option in log_years %}
                    {% if option == date_year %}
                        <option selected value="{{ option }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="log_month">Logs of month</label>
            <select class="form-control" id="log_month" name="log_month" >
                {% for option in log_months %}
                    {% if option == date_month %}
                        <option selected value="{{ option }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
        {% if log_type is not None and log_subtype is not None %}
            {% include "../miniform/reload_time.html" %}
        {% endif %}
        <br>
        {% include "../btn/select.html" %}
    </form>

    {% if log_subtype is not None %}
        {% set_var 1 as service_chosen %}
    {% else %}
        {% set_var 0 as service_chosen %}
    {% endif %}
    {% if service_chosen == 1 %}
        <br><hr>
        <h2>Log data:</h2>
        <strong>
            Refreshed at {% now "Y-m-d H:i:s T" %} <br>
        </strong>
        {% if log_data is None %}
            {% include "../warn/no_results.html" %}
        {% else %}
            <ol class="ga-file-content">
                {% for line in log_data %}
<li class="ga-file-content-line">{{ line }}</li>
                {% endfor %}
            </ol>
        {% endif %}
    {% endif %}
    {% if log_type == 'GrowAutomation' and log_file is not None %}
        <div class="ga-sideinfo">
            <p>
                Current log file: '{{ log_file }}'
            </p>
        </div>
    {% endif %}

    <br>
    {% if log_type not in log_type_options %}
        <div class="alert alert-info">Select a log type to see more</div>
    {% else %}
        {% if log_subtype not in log_subtype_option_list %}
            <div class="alert alert-info">Select a log sub-type to see more</div>
        {% endif %}
    {% endif %}
    {% if log_type is not None and log_subtype is not None %}
        {% include "../js/auto_reload.html" %}
    {% endif %}
{% endblock %}
