{% extends "../body.html" %}
{% load util %}
{% block content %}
    <form name="log_type" method="get" >
        <label for="log_type"><strong>Log type</strong></label>
        <select class="form-control" id="log_type" name="log_type" >
            {% if log_type is None or log_type not in log_type_options %}
                <option selected>---------</option>
            {% endif %}
            {% for option in log_type_options %}
                {% if log_type is not None and option == log_type %}
                    <option selected value="{{ option }}">{{ option }}</option>
                {% else %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endif %}
            {% endfor %}
        </select>

        {% if log_type in 'Service, Service journal' %}
            <label for="log_service"><strong>Service</strong></label>
            <select class="form-control" id="log_service" name="log_service" >
                {% if log_service is None or log_service not in log_service_options.keys %}
                    <option selected>---------</option>
                {% endif %}
                {% for option in log_service_options.keys %}
                    {% if log_service is not None and option == log_service %}
                        <option selected value="{{ option }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}

        {% if log_type == 'Service journal' or log_type == 'Growautomation' %}
            <label for="log_entry_count"><strong>Max entries</strong></label>
            <select class="form-control" id="log_entry_count" name="log_entry_count" >
                {% for option in log_entry_range %}
                    {% if option == log_entry_count %}
                        <option selected value="{{ option }}">{{ option }}</option>
                    {% else %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
        <input type="submit" value="Show" class="btn btn-info">
    </form>

    {% if log_type in 'Service, Service journal' %}
        {% if log_service is not None %}
            {% set_var 1 as service_chosen %}
        {% else %}
            {% set_var 0 as service_chosen %}
        {% endif %}
    {% else %}
        {% if log_type is not None %}
            {% set_var 1 as service_chosen %}
        {% else %}
            {% set_var 0 as service_chosen %}
        {% endif %}
    {% endif %}
    {% if service_chosen == 1 %}
        <h2>Log data:</h2>
        <strong>
            Refreshed at {% now "Y-m-d H:i:s T" %} <br>
        </strong>
        {% if log_data is None %}
            {% include "../warn/no_results.html" %}
        {% else %}
            <div class="ga-log-text">
                {% for data in log_data %}
                    {{ data }} <br>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    {% if log_type == 'Growautomation' %}
        <small>
            <i>
                Current log file: '{{ log_file }}'
            </i>
        </small>
    {% endif %}
{% endblock %}
