{% extends "../body.html" %}
{% load util %}
{% block content %}
    <form name="service_name" method="get" >
        <label for="service_name">Service</label>
        <select class="form-control" id="service_name" name="service_name" >
            {% if service_name is None %}
                <option selected>---------</option>
            {% endif %}
            {% for option in service_name_options %}
                {% if service_name is not None and option == service_name %}
                    <option selected value="{{ option }}">{{ option }}</option>
                {% else %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if service_name is not None %}
            {% include "../miniform/reload_time.html" %}
        {% endif %}
        <br>
       {% include "../btn/select.html" %}
    </form>
    {% if service_name is not None %}
        <br><hr>
        {% if service_status is not None %}
            <h3>
                Service status
            </h3>
            <strong>
                Refreshed at {% now "Y-m-d H:i:s T" %} <br>
            </strong>
            <br>
            {% if service_status == 'active' %}
                <div class="alert alert-success">
                    Running
            {% else %}
                <div class="alert alert-danger">
                    Stopped or failed
            {% endif %}
                    {% if service_status_time is not None %}
                        since {{ service_status_time }}
                        {% if service_runtime is not None %}
                            (for {{ service_runtime|format_seconds }})
                        {% endif %}
                    {% endif %}
                    </div>
            {% if service_enabled == 'enabled' %}
                <div class="alert alert-success">
                    Service will start on system boot
                </div>
            {% else %}
                <div class="alert alert-danger">
                    Service will NOT start on system boot
                </div>
            {% endif %}
            <br>
            <a href='/system/service/?service_name={{ service_name }}' class="btn btn-info">Refresh</a>
        {% endif %}
        <br><hr>
        <h3>
            Actions
        </h3>
        <br>
        <form class="ga-form-inline" method="post" action="/system/service/?service_name={{ service_name }}">
            {% csrf_token %}
            {% if service_status != 'active' and request.user|authorized_to_write %}
                <input type="submit" value="Start" class="btn btn-success"/>
            {% else %}
                <input type="submit" value="Start" class="btn btn-success" disabled/>
            {% endif %}
            <input type="hidden" name="service_start" value="1" />
            <input type="hidden" name="service_name" value="{{ service_name }}" />
        </form>
        <form class="ga-form-inline" method="post" action="/system/service/?service_name={{ service_name }}">
            {% csrf_token %}
            {% if service_status == 'active' and request.user|authorized_to_write %}
                <input type="submit" value="Reload" class="btn btn-warning"/>
            {% else %}
                <input type="submit" value="Reload" class="btn btn-warning" disabled/>
            {% endif %}
            <input type="hidden" name="service_reload" value="1" />
            <input type="hidden" name="service_name" value="{{ service_name }}" />
        </form>
        <form class="ga-form-inline" method="post" action="/system/service/?service_name={{ service_name }}">
            {% csrf_token %}
            {% if service_status == 'active' and request.user|authorized_to_write %}
                <input type="submit" value="Restart" class="btn btn-warning"/>
            {% else %}
                <input type="submit" value="Restart" class="btn btn-warning" disabled/>
            {% endif %}
            <input type="hidden" name="service_restart" value="1" />
            <input type="hidden" name="service_name" value="{{ service_name }}" />
        </form>
        {% if service_name not in non_stop_services %}
            <form class="ga-form-inline" method="post" action="/system/service/?service_name={{ service_name }}">
                {% csrf_token %}
                {% if service_status == 'active' and request.user|authorized_to_write %}
                    <input type="submit" value="Stop" class="btn btn-danger"/>
                {% else %}
                    <input type="submit" value="Stop" class="btn btn-danger" disabled/>
                {% endif %}
                <input type="hidden" name="service_stop" value="1" />
                <input type="hidden" name="service_name" value="{{ service_name }}" />
            </form>
        {% endif %}
        <br><br><hr>
        <h3>
            More information
        </h3>
        <br>
        <a href="/system/log/?log_type=Service&log_subtype={{ service_name }}" class="btn btn-info">Detailed status</a>
        <a href="/system/log/?log_type=Service+journal&log_subtype={{ service_name }}" class="btn btn-info">Service Logs</a>
        {% if service_name == 'Growautomation' %}
            <a href="/system/log/?log_type=Growautomation&log_subtype=Core" class="btn btn-info">Application Logs</a>
        {% endif %}
    {% else %}
        <br>
        <div class="alert alert-info">Select a service to see more</div>
    {% endif %}
    {% if service_name is not None %}
        <script>
            {% include "../js/auto_reload.html" %}
        </script>
    {% endif %}
{% endblock %}
