{% extends "../body.html" %}
{% load util %}
{% block content %}
    <br>
    {% if action_msg is not None %}
        <div class="alert alert-{{ action_msg_style }}">
            <strong>{{ action_msg }}</strong>
        </div>
        <br>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Username
                </th>
                <th>
                    E-Mail
                </th>
                <th>
                    Privileges
                </th>
                <th>
                    Action
                </th>
            </tr>
            {% for user in users %}
                {% if user.username != update_user %}
                    <tr>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.groups|all_groups|intersects:GA_GROUPS.keys %}{% for grp, config in GA_GROUPS.items %}{% if grp in user.groups|all_groups %}{{ config.privs }} {% endif %}{% endfor %}{% else %}NONE{% endif %}
                        </td>
                        <td>
                            <form class="ga-form-inline" method="get" action="/system/user/">
                                <input type="hidden" name="do" value="update" />
                                <input type="hidden" name="name" value="{{ user.username }}" />
                                {% include "../btn/update.html" %}
                            </form>
                            <form class="ga-form-inline" method="post" action="/system/user/">
                                {% csrf_token %}
                                <input type="hidden" name="do" value="delete" />
                                <input type="hidden" name="name" value="{{ user.username }}" />
                                {% include "../btn/delete.html" %}
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100%">
                            <form class="ga-form-inline" method="post" action="/system/user/">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <label>Username:
                                            <input class="form-control" type="text" name="name" autocapitalize="none" autocomplete="username" maxlength="150" required value="{{ user.username }}">
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label>E-Mail:
                                            <input class="form-control" type="text" name="email" autocapitalize="none" autocomplete="username" maxlength="75" required value="{{ user.email }}">
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label>Password:
                                            <input class="form-control" type="password" name="password" autocomplete="current-password" value='{% censored %}' maxlength="128">
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label>Privileges:
                                            <select class="form-control" name="privileges" required>
                                            {% for grp, value in GA_GROUPS.items reversed %}
                                                {% if grp in user.groups|all_groups %}
                                                    <option value="{{ value.pretty }}" selected>{{ value.pretty }}</option>
                                                {% else %}
                                                    <option value="{{ value.pretty }}">{{ value.pretty }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            {% if not user.groups|all_groups|intersects:GA_GROUPS.keys %}
                                                <option selected>{% get_empty %}</option>
                                            {% else %}
                                                <option>NONE</option>
                                            {% endif %}
                                            </select>
                                        </label>
                                    </div>
                                    <input type="hidden" name="do" value="update" />
                                    <input type="hidden" name="current_name" value="{{ user.username }}" />
                                    {% include "../btn/save.html" %}
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if create_user %}
                <tr>
                    <td colspan="100%">
                        <form class="ga-form-inline" method="post" action="/system/user/">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label>Username:
                                        <input class="form-control" type="text" name="name" autocapitalize="none" autocomplete="username" maxlength="150" required>
                                    </label>
                                </div>
                                <div class="col">
                                    <label>E-Mail:
                                        <input class="form-control" type="text" name="email" autocapitalize="none" autocomplete="username" maxlength="75" required>
                                    </label>
                                </div>
                                <div class="col">
                                    <label>Password:
                                        <input class="form-control" type="password" name="password" autocomplete="current-password" maxlength="128" required>
                                    </label>
                                </div>
                                <div class="col">
                                    <label>Privileges:
                                        <select class="form-control" name="privileges" required>
                                        <option selected>{% get_empty %}</option>
                                        {% for group, value in GA_GROUPS.items %}
                                            <option value="{{ value.pretty }}">{{ value.pretty }}</option>
                                        {% endfor %}
                                        </select>
                                    </label>
                                </div>
                                <input type="hidden" name="do" value="create" />
                                <input type="hidden" name="current_name" value="{{ user.username }}" />
                                {% include "../btn/save.html" %}
                            </div>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="100%">
                        <form class="ga-form-inline" method="get" action="/system/user/">
                            <label>Create user:
                                <input type="hidden" name="do" value="create" />
                                {% include "../btn/add.html" %}
                            </label>
                        </form>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
