{% extends "../../body.html" %}
{% load util %}
{% load static %}
{% load bootstrap4 %}
{% block extrahead %}
    {% if use_cdn %}
        <!-- css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet">
        <link href="{% static 'css/datetimepicker-widget-4.17.47.css' %}" type="text/css" rel="stylesheet">
        <!-- js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{% static 'js/datetimepicker-widget-4.17.47.js' %}"></script>
    {% else %}
        <!-- css -->
        <link href="{% static 'css/datetimepicker-4.17.47.css' %}" type="text/css" rel="stylesheet">
        <link href="{% static 'css/datetimepicker-widget-4.17.47.css' %}" type="text/css" rel="stylesheet">
        <!-- js -->
        <script src="{% static 'js/moment-with-locales-2.29.1.min.js' %}"></script>
        <script src="{% static 'js/datetimepicker-4.17.47.min.js' %}"></script>
        <script src="{% static 'js/datetimepicker-widget-4.17.47.js' %}"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <form method="get">
        {% include "../tmpl/select_input.html" %}
        {% include "../tmpl/filter_start_stop.html" %}
        {% include "../tmpl/filter_result_count.html" %}
        {% include "../../btn/select.html" %}
    </form>
    <br><hr>
    <h2><strong>Data</strong></h2>
    <br>
    {% if input_device is not None %}
        <div class="table-responsive">
            <table class="table table-striped">
                {% if data_list|length == 0 %}
                    {% include "../../warn/table_no_results.html" %}
                {% else %}
                    <tr>
                        <th>
                            Timestamp
                        </th>
                        <th>
                            Data
                        </th>
                        <th>
                            Data type
                        </th>
                    </tr>
                    {% for data in data_list %}
                        <tr>
                            <td>
                                {{ data.created|format_ts }}
                            </td>
                            <td>
                                {{ data.data }}
                                {% if data_unit is not None %}
                                    {{ data_unit }}
                                {% endif %}
                            </td>
                            <td>
                                {% if data_type is None %}
                                    ---
                                {% else %}
                                    {{ data_type }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">Select a input device to see more</div>
    {% endif %}
{% endblock %}
