{% load util %}
<form method="get">
    <label for="input_device"><strong>Input device</strong></label>
    <select class="form-control" id="input_device" name="input_device" >
        {% if input_device is None %}
            <option selected>---------</option>
        {% endif %}
        {% for option, option_id in input_device_dict.items %}
            {% if input_device is not None and option_id == input_device %}
                <option selected value="{{ option_id }}">{{ option }}</option>
            {% else %}
                <option value="{{ option_id }}">{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% if start_ts is not None %}
        <input type="hidden" name="start_ts" value="{{ start_ts|format_ts }}" />
    {% endif %}
    {% if stop_ts is not None %}
        <input type="hidden" name="stop_ts" value="{{ stop_ts|format_ts }}" />
    {% endif %}
    <br>
    <input type="submit" value="Show" class="btn btn-primary">
</form>
