{% extends "../../body.html" %}
{% load util %}
{% block content %}
    {% if online %}
        {% include "../../warn/update.html" %}
        <form method="post">
            {% csrf_token %}
            <div id="div_id_release" class="form-group">
                <label for="id_release" class="control-label">Release</label>
                <select class="form-control" id="id_release" name="release">
                    <option selected value="{{ current_version }}">{{ current_version }}</option>
                    {% for release in releases %}
                        <option value="{{ release }}">{{ release }}</option>
                    {% endfor %}
                </select>
                <p class="help-block">Choose a release-version to upgrade to.</p>
            </div>
            <div id="div_id_commit" class="form-group">
                <label for="id_commit" class="control-label">Commit-ID (optional)</label>
                <div class="">
                    <input type="text" value="--------" name="commit" minlength="7" maxlength="40" class="form-control" id="id_commit">
                    <p class="help-block">Provide a specific commit-ID to upgrade to. Will ignore the release.</p>
                </div>
            </div>
            <input type="hidden" name="type" value="online" />
            {% include "../../btn/start.html" %}
        </form>
    {% else %}
        {% include "../../error/online_update.html" %}
    {% endif %}
{% endblock %}
