{% extends "../../body.html" %}
{% load util %}
{% block content %}
    {% if online %}
        {% include "../../warn/update.html" %}
        <form method="post">
            {% csrf_token %}
            <div id="div_id_release" class="form-group">
                <label for="id_release" class="control-label">{{ 'update_release' | form_label }}</label>
                <select class="form-control" id="id_release" name="release" required>
                    <option selected value="{{ current_version }}">{{ current_version }}</option>
                    {% for release in releases %}
                        <option value="{{ release }}">{{ release }}</option>
                    {% endfor %}
                </select>
                <p class="help-block">{{ 'update_release' | form_help }}</p>
            </div>
            {% include "./form_commit.html" %}
            <input type="hidden" name="type" value="online" />
            {% include "../../btn/start.html" %}
        </form>
        {% include "../../info/update.html" %}
    {% else %}
        {% include "../../error/online_update.html" %}
    {% endif %}
{% endblock %}
