#crypto-recognition
path_root={{ ga_core_path }}
path_log={{ ga_path_log }}
path_backup={{ ga_core_path_backup }}
sql_server={{ ga_sql_server }}
sql_port={{ ga_sql_port }}
sql_user={{ ga_core_service_user }}
sql_secret={{ ga_sql_pwd_core }}
sql_database={{ ga_sql_db }}
log_level={{ ga_log_level }}
timezone={{ ga_timezone }}
name={{ ga_core_controller_name }}
security={% if ga_security_mode %}1{% else %}0{% endif %}

device_log={% if ga_core_device_log %}1{% else %}0{% endif %}

device_fail_count=3
device_fail_sleep=3600
debug=0
