[Unit]
Description=Growautomation Service
After=mariadb.service

[Service]
Environment="PYTHONPATH=/etc/ga"
Type=simple
#ExecStartPre=
ExecStart=/usr/bin/python3.8 /etc/ga/service/service.py
ExecReload=/bin/kill -10 $MAINPID
TimeoutStopSec=30
User=ga
Group=ga
Restart=on-failure
RestartSec=5s
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target