/* This script is used to initialize the main configuration-objects - without those the core and web-interface won't work properly */

INSERT IGNORE INTO {{ ga_sql_db }}.ga_systemservermodel
(created, updated, name, description, path_core, path_web, path_web_static, path_home_core, path_home_web, path_log, sql_server, sql_port, sql_user, sql_secret, sql_database,
log_level, debug, security, timezone, web_cdn, web_warn, ga_cloud, ga_cloud_uuid, ga_cloud_token, ga_cloud_ddns)
VALUES
(NOW(), NOW(), '{{ ga_core_controller_name }}', 'Server created by setup', '{{ ga_core_path }}', '{{ ga_web_path }}', '{{ ga_web_path_static }}', '{{ ga_core_path_home }}',
'{{ ga_web_path_home }}', '{{ ga_path_log }}', '{{ ga_sql_server }}', {{ ga_sql_port }}, '{{ ga_sql_user_web }}', '{{ ga_sql_pwd_web_encrypted.stdout }}', '{{ ga_sql_db }}',
{{ ga_log_level }}, 0, {% if ga_security_mode %}1{% else %}0{% endif %}, '{{ ga_timezone }}', 0, 1, 0, NULL, NULL, 0);

INSERT IGNORE INTO {{ ga_sql_db }}.ga_systemagentmodel
(created, updated, name, description, path_root, path_home, path_log, sql_server, sql_port, sql_user, sql_secret, sql_database,
log_level, debug, device_fail_count, device_fail_sleep, device_log, svc_interval_status, svc_interval_reload, subprocess_timeout)
VALUES
(NOW(), NOW(), '{{ ga_core_controller_name }}', 'Agent created by setup', '{{ ga_core_path }}', '{{ ga_core_path_home }}', '{{ ga_path_log }}', '{{ ga_sql_server }}', {{ ga_sql_port }},
'{{ ga_sql_user_core }}', '{{ ga_sql_pwd_core_encrypted.stdout }}', '{{ ga_sql_db }}', {{ ga_log_level }}, 0, 3, 3600, 1, 3600, 21600, 60);
